<lasso-page package-path="./browser.json"/>
<include("../layout/template/index.marko", input)>
<@main>
<h1>
    Welcome to /basicTemplate!
</h1>
<h3>
    The current date is ${input.now}!
</h3>
</@main>
</include>